<?xml version="1.0" encoding="utf-8"?> 
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="comix.bgteams.app"
      android:versionCode="1"
      android:versionName="0.1">
      
    <uses-sdk
        android:minSdkVersion="8"
        android:maxSdkVersion="17" 
        android:targetSdkVersion="17" />
      
      <uses-feature android:name="android.software.live_wallpaper" />
      
    <application android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:allowBackup="false">
    	
    	<service
            android:name=".BgTeamsWallpaperService"
			android:enabled="true"
			android:icon="@drawable/ic_launcher"
			android:label="@string/app_name"
			android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
            	android:name="android.service.wallpaper" 
            	android:resource="@xml/wallpaper" />
        </service>
        
        <activity
        	android:label="@string/wallpaper_settings"
        	android:name=".BgTeamsWallpaperSettings"
        	android:theme="@android:style/Theme.Light.WallpaperSettings"
        	android:exported="true">
        </activity>
        
    </application>

</manifest> 